<div th:fragment="estimate-price" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="info-box">
			<span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>

			<div class="info-box-content" th:if="${price != null}">
				<span class="info-box-text">Price</span> <span class="info-box-number"><h3 th:text="${price}"></h3></span>
			</div>

			<div class="info-box-content" th:if="${price == null}">
				<span class="info-box-text">Price</span> <span class="info-box-number"><h3>0.00</h3></span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<div class="col-md-3"></div>
</div>