<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="loginlayout">
<head>
<title>Error 404 page not found.</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="hold-transition login-page">
	<div layout:fragment="content">
		<div class="error-page">
			<h2 class="headline text-yellow">404</h2>

			<div class="error-content">
				<h3>
					<i class="fa fa-warning text-yellow"></i> Oops! Page not found.
				</h3>

				<p>
					We could not find the page you were looking for. Meanwhile, you may <a href="/">return to Home</a>
				</p>
			</div>
			<!-- /.error-content -->
		</div>
	</div>
</body>
</html>