<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
<title>Buy car</title>
	
	<script>

		$(document).ready(function() {
			
			$(".double6").inputmask( {
				'alias' : 'decimal', rightAlign : false, digits : 4, 'greedy' : false, repeat: 6, 'groupSeparator': ',', 'autoGroup': true
/* 				radixPoint: ",", */
			 });
			$(".double9").inputmask( {
				'alias' : 'decimal', rightAlign : false, digits : 4, 'greedy' : false, repeat: 9, 'groupSeparator': ',', 'autoGroup': true
/* 				radixPoint: ",", */
			 });
			
			$(".numSep6").inputmask( {
				'alias' : 'decimal', rightAlign : false, digits : 0, 'greedy' : false, repeat: 6, 'groupSeparator': ',','autoGroup': true
/* 				radixPoint: ",", */
			 });
			$(".numSep9").inputmask( {
				'alias' : 'decimal', rightAlign : false, digits : 0, 'greedy' : false, repeat: 9, 'groupSeparator': ',','autoGroup': true
/* 				radixPoint: ",", */
			 });

			var chtoBlank = $(".chtoBlank");
			if(chtoBlank.val() == "0"){
				chtoBlank.val("");
			}

			var elemYear = $('#caryear');
			if(elemYear.val() == "0"){
				elemYear.val("");
			}
			elemYear.datepicker({
				autoclose : true,
				format : 'yyyy',
				startView : 2,
				minViewMode : 2,
				maxViewMode : 2,
				startDate: '-30y',
			});
			
			$('#licensedate').datepicker({
				autoclose : true,
				format : 'dd/mm/yyyy'
			});	
			$(".data-mask").inputmask();
			
 			var licensedate = $("#licensedate").val();
			if (licensedate == "") {
				$("#licensedate").datepicker().datepicker("setDate", new Date());
			} 
			
			$(".nowdate").html(new Date().toISOString().slice(0,10) );
			
			
		});
	</script>
</head>
<body>
	<section layout:fragment="header">
		<h1>Buy car</h1>
	</section>
	<section layout:fragment="content">
		<form th:action="@{~/saveBuycar}" th:object="${buyCar}" method="post">
			<div class="row">
				<div class="col-md-10">

					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title">Customer's Buy Details</h3>
							<span class="pull-right"> <i class="fa fa-clock-o"></i> 
									<label class="nowdate"  ></label>
							</span>
						</div>
						<div class="form-horizontal">
							<div class="box-body">

								<div class="form-group"  th:classappend="${#fields.hasErrors('gender') } ? 'has-error' " >
									<label class="col-sm-3 control-label">Gender</label>
									<div class="col-sm-3">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span> 
											<select class="form-control"  th:field="*{gender}">
												<option value="">Select gender</option>
												<option value="M">Male</option>
												<option value="F">Female</option>
											</select>
										</div>
									</div>
									<label class="control-label" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">[error]</label>
								</div>

								<div class="form-group"  th:classappend="${#fields.hasErrors('cusid') } ? 'has-error' " >
									<label  class="col-sm-3 control-label">Identification Card</label>
									<div class="col-sm-8">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-credit-card"></i></span> 
											<input type="text" class="form-control data-mask"  th:field="*{cusid}"  data-inputmask="'mask': '9-9999-99999-99-9'" />
										</div>
										<label class="control-label" th:if="${#fields.hasErrors('cusid')}"  th:errors="*{cusid}">[error]</label>
									</div>
								</div>

								<div class="form-group"  th:classappend="${#fields.hasErrors('name') || #fields.hasErrors('lastname')} ? 'has-error'">
									<label class="col-sm-3 control-label">Name</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" th:field="*{name}" placeholder="First name" /> 
										<input type="text" class="form-control" th:field="*{lastname}" placeholder="Last name" /> 
											<label class="control-label" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">[error]</label> 
											<label class="control-label" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">[error]</label>
									</div>

								</div>

								<div class="form-group" th:classappend="${#fields.hasErrors('address') } ? 'has-error' " >
									<label  class="col-sm-3 control-label">Address</label>
									<div class="col-sm-8">
										<textarea rows="3" class="form-control" placeholder="Enter address"  th:field="*{address}" ></textarea>
										<label class="control-label"  th:if="${#fields.hasErrors('address')}" th:errors="*{address}">[error]</label>
									</div>
								</div>
								
								<div class="form-group"  th:classappend="${#fields.hasErrors('phone') } ? 'has-error'">
									<label  class="col-sm-3 control-label">Telephone/Mobile</label>
									<div class="col-sm-8">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-phone"></i></span> 
											<input type="text" class="form-control data-mask"  th:field="*{phone}"  data-inputmask="'mask': '(999) 999-9999'"  />
										</div>
										<label class="control-label"  th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">[error]</label>
									</div>
								</div>
								
							</div>
						</div>
					</div>


					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title">Used Car Details</h3>
						</div>

						<div class="form-horizontal">
							<div class="box-body">

								<div class="form-group" th:classappend="${#fields.hasErrors('carbrand') } ? 'has-error'">
									<label  class="col-sm-3 control-label">Brand</label>
									<div class="col-sm-3">
										<select class="form-control"  th:field="*{carbrand}">
											<option value="">Select Brand</option>
											<option th:each="car : ${carList}" th:value="${car.brand}" th:text="${car.brand}" />
										</select>
									</div>
									<label class="control-label"  th:if="${#fields.hasErrors('carbrand')}" th:errors="*{carbrand}">[error]</label>
								</div>
								
								
								<div class="form-group"  th:classappend="${#fields.hasErrors('carmodel') } ? 'has-error'">
									<label  class="col-sm-3 control-label">Model</label>
									<div class="col-sm-8">
										<input type="text" maxlength="50" class="form-control"  th:field="*{carmodel}" placeholder="Select model" />
										<label class="control-label"  th:if="${#fields.hasErrors('carmodel')}" th:errors="*{carmodel}">[error]</label>
									</div>
								</div>
								
								<div class="form-group" th:classappend="${#fields.hasErrors('carmodelsub') } ? 'has-error'">
									<label  class="col-sm-3 control-label">SubModel</label>
									<div class="col-sm-8">
										<input type="text" maxlength="50" class="form-control"  th:field="*{carmodelsub}"  placeholder="Select sub model" />
										<label class="control-label"  th:if="${#fields.hasErrors('carmodelsub')}" th:errors="*{carmodelsub}">[error]</label>
									</div>
								</div>
								
								<div class="form-group" th:classappend="${#fields.hasErrors('caryear') } ? 'has-error'">
									<label  class="col-sm-3 control-label">Year</label>
									<div class="col-sm-8">
										<input type="text" class="form-control data-mask"  data-inputmask="'alias': '9999'"   th:field="*{caryear}"  placeholder="Car year" />
										<label class="control-label data-mask"   th:if="${#fields.hasErrors('caryear')}" th:errors="*{caryear}">[error]</label>
									</div>
								</div>
								
								<div class="form-group" th:classappend="${#fields.hasErrors('carcolor') } ? 'has-error'">
									<label  class="col-sm-3 control-label">Color</label>
									<div class="col-sm-8">
										<input type="text" maxlength="20" class="form-control"  th:field="*{carcolor}"  placeholder="Car color" />
										<label class="control-label"  th:if="${#fields.hasErrors('carcolor')}" th:errors="*{carcolor}">[error]</label>
									</div>
								</div>
								
								<div class="form-group" th:classappend="${#fields.hasErrors('licenseplate')  } ? 'has-error'">
									<label  class="col-sm-3 control-label">License Plate</label>
									<div class="col-sm-8">
										<input type="text" maxlength="8" class="form-control"  th:field="*{licenseplate}"  placeholder="Enter license plate" />
										<label class="control-label"  th:if="${#fields.hasErrors('licenseplate')}" th:errors="*{licenseplate}">[error]</label>
									</div>
								</div>
								

								<div class="form-group" th:classappend="${#fields.hasErrors('licenseprovince')  } ? 'has-error'">
									<label  class="col-sm-3 control-label">Province</label>
									<div class="col-sm-3">
										<select class="form-control"  th:field="*{licenseprovince}" >
											<option value="">Please select province</option>
											<option th:each="province : ${provinceList}" th:value="${province.nameth}" th:text="${province.nameth}" />
										</select>
									</div>
									<label class="control-label"  th:if="${#fields.hasErrors('licenseprovince')}" th:errors="*{licenseprovince}">[error]</label>
								</div>

								<div class="form-group" th:classappend="${#fields.hasErrors('kilometer') } ? 'has-error'">
									<label  class="col-sm-3 control-label">Kilometer</label>
									<div class="col-sm-8">
											<div class="input-group">
													<input type="text" class="form-control  numSep9 chtoBlank"   th:field="*{kilometer}"   placeholder="Enter used car kilometer" />
													<span class="input-group-addon">Kilometer</span>													
											</div>
											<label class="control-label"  th:if="${#fields.hasErrors('kilometer')}" th:errors="*{kilometer}">[error]</label>
									</div>
								</div>
														
								<div class="form-group"  th:classappend="${#fields.hasErrors('price') } ? 'has-error'">
									<label  class="col-sm-3 control-label">Price</label>
									<div class="col-sm-8">
										<div class="input-group">
												<input type="text" class="form-control  double9"   th:field="*{price}"  placeholder="Enter car buy price" />
												<span class="input-group-addon">Baht</span>												
										</div>
										<label class="control-label"  th:if="${#fields.hasErrors('price')}" th:errors="*{price}">[error]</label>
									</div>
								</div>

								

							</div>
				
								
						</div>

					</div>


					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title">License Detail</h3>
						</div>
						<div class="form-horizontal">
							<div class="box-body">
								<div class="form-group">
									<label class="col-sm-3 control-label">License Date</label>
									<div class="col-sm-8">
										<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
												<input type="text" class="form-control data-mask" data-inputmask="'alias': 'dd/mm/yyyy'"  th:field="*{licensedate}"  />
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-3 control-label">License Number</label>
									<div class="col-sm-8">
										<input type="text" class="form-control"  placeholder="Enter license number"   th:field="*{licenseNo}" />
									</div>
								</div>

								<div class="form-group">
									<label  class="col-sm-3 control-label">Car Type</label>
									<div class="col-sm-8">
										<input type="text" class="form-control"  placeholder="Select car type"   th:field="*{cartype}" />
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">Style</label>
									<div class="col-sm-8">
										<input type="text" class="form-control"  placeholder="Select car style"  th:field="*{carstyle}" />
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label">Car Number</label>
									<div class="col-sm-8">
										<input type="text" class="form-control"  placeholder="Enter car number"  th:field="*{carno}" />
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">Car At</label>
									<div class="col-sm-8">
										<input type="text" class="form-control"   placeholder="Car number at"   th:field="*{carnoat}" />
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">Engine Brand</label>
									<div class="col-sm-8">
										<input type="text" class="form-control"  placeholder="Select engine brand"   th:field="*{carenginebrand}" />
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">Engine Number</label>
									<div class="col-sm-8">
										<input type="text" class="form-control"  placeholder="Enter engine number"  th:field="*{carengineno}" />
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">Engine At</label>
									<div class="col-sm-8">
										<input type="text" class="form-control"  placeholder="Engine number at"   th:field="*{carenginenoat}" />
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">Fuel Type</label>
									<div class="col-sm-8">
										<input type="text" class="form-control"  placeholder="Enter fuel type"   th:field="*{fueltype}" />
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">Gas Cylinder Number</label>
									<div class="col-sm-8">
										<input type="text" class="form-control"  placeholder="Enter gas cylinder number"   th:field="*{gascylinno}" />
									</div>
								</div>

								<div class="form-group">
									<label  class="col-sm-3 control-label">Amount</label>
									<div class="col-sm-8">
										<div class="form-group">
											<div class="col-sm-6">
												<div class="input-group">
													<input type="text" class="form-control data-mask"  data-inputmask="'mask': '9', 'repeat': 2, 'greedy': false"  placeholder="Number of piston"   th:field="*{pistonno}" /> <span class="input-group-addon">Piston</span>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-group">
													<input type="text" class="form-control  numSep6"   placeholder="Number of CC"   th:field="*{carcc}" /> <span class="input-group-addon">CC</span>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-group">
													<input type="text" class="form-control  numSep6"   placeholder="Number of horsepower"  th:field="*{carhotpower}"  /> <span class="input-group-addon">Horsepower</span>
												</div>
											</div>
											<div class="col-sm-6">
												<input type="text" class="form-control "  placeholder="etc."   th:field="*{caretc}" />
											</div>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label  class="col-sm-3 control-label">Weight Gross</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input type="text" class="form-control  double9"    placeholder="Enter weight gross"   th:field="*{carweight}" /> <span class="input-group-addon">Kg.</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">Seats</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input type="text" class="form-control data-mask"  data-inputmask="'mask': '9', 'repeat': 3, 'greedy': false"  placeholder="Enter number of seats"  th:field="*{carseats}"  /> <span class="input-group-addon">person</span>
										</div>
									</div>
								</div>

							</div>

					
							<div class="box-footer">								
								<button type="submit" class="btn btn-primary center-block">Submit</button>
							</div>		
							
						</div>
					</div>


	
			</div>
			
			</div>

		</form>
	</section>
</body>
</html>