<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
<title>Buy car</title>
</head>
<body>
	<section layout:fragment="header">
		<h1>Buy car</h1>
	</section>
	<section layout:fragment="content">
		<div class="row">
			<div class="col-md-8">

				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">ข้อมูลลูกค้า</h3>
						
						<span class="pull-right">
								<i class="fa fa-clock-o"></i>  23 April 2017
						</span>
						
					</div>
					<div class="form-horizontal">
						<div class="box-body">
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">ชื่อ</label>
								<div class="col-sm-2">
									<input type="text" class="form-control" id="" placeholder="First name" />
								</div>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="" placeholder="Last name" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">ที่อยู่</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="" placeholder="Address" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">เบอร์โทรศัพท์</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="" placeholder="Phone" />
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">รายการจดทะเบียน</h3>
					</div>
					<div class="form-horizontal">
						<div class="box-body">
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">วันที่จดทะเบียน</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="" placeholder="วันที่จดทะเยียน" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">เลขทะเบียน</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="" placeholder="เลขทะเบียน" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">จังหวัด</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="" placeholder="จังหวัด" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">ประเภท</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="" placeholder="ประเภทรถยนต์" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">ลักษณะ</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="" placeholder="ลักษณะ เก๋งสองตอน ตอนเดียว ฯลฯ" />
								</div>
							</div>
							<div class="form-group" >
								<label for="inputRegDate" class="col-sm-3 control-label">ยี่ห้อรถ</label>
								<div class="col-sm-8">
									<select class="form-control"  >
									<option value=""   >เลือกยี่ห้อรถยนต์</option>
									<option value="">Toyota</option>
									<option value="" >Honda</option>
									<option value="" >Nissan</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">แบบ</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="" placeholder="แบบ Vios Civic TIIDA etc." />
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">รุ่นปี</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="" placeholder="รุ่นปี" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">สี</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="" placeholder="สี" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">เลขตัวรถ</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="" placeholder="เลขตัวรถ" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">อยู่ที่</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="" placeholder="อยู่ที่เลขตัวรถ" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">ยี่ห้อเครื่องยนต์</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="" placeholder="ยี่ห้อเครื่องยนต์" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">เลขที่เครื่องยนต์</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="" placeholder="เลขที่เครื่องยนต์" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">อยู่ที่</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="" placeholder="อยู่ที่เลขที่เครื่องยนต์" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">เชื้อเพลิง</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="" placeholder="ชนิดเชื้อเพลิง" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">เลขถังแก๊ซ</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="" placeholder="เลขถังแก๊ซ" />
								</div>
							</div>

							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">จำนวน</label>
								<div class="col-sm-8">
									<div class="form-group">
										<div class="col-sm-6">
											<div class="input-group">
												<input type="text" class="form-control" id="" placeholder="จำนวนสูบ" /> <span class="input-group-addon">สูบ</span>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="input-group">
												<input type="text" class="form-control" id="" placeholder="จำนวนซีซี" /> <span class="input-group-addon">ซีซี</span>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="input-group">
												<input type="text" class="form-control" id="" placeholder="จำนวนแรงม้า" /> <span class="input-group-addon">แรงม้า</span>
											</div>
										</div>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="" placeholder="อื่นๆ" />
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">น้ำหนักรวม</label>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" id="" placeholder="น้ำหนักรวม" /> <span class="input-group-addon">กก.</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">น้ำหนักบรรทุก / น้ำหนัก</label>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" id="" placeholder="น้ำหนักบรรทุก / น้ำหนัก" /> <span class="input-group-addon">กก.</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">น้ำหนักรวม</label>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" id="" placeholder="น้ำหนักรวม" /> <span class="input-group-addon">กก.</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputRegDate" class="col-sm-3 control-label">ที่นั่ง</label>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" id="" placeholder="จำนวนที่นั่ง" /> <span class="input-group-addon">คน</span>
									</div>
								</div>
							</div>

						</div>
						
						<div class="box-footer">
								<button type="submit" class="btn btn-primary center-block">Submit</button>
						</div>
					</div>
				</div>



			</div>
		</div>
	</section>
</body>
</html>