<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
<title>Used car</title>
</head>
<body>
	<section layout:fragment="header">
		<h1>Estimate price</h1>
	</section>
	<div layout:fragment="content">

		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Estimate price</h3>
					</div>

					<div class="box-body">
						<form th:id="estimateForm" th:name="estimateForm" th:action="@{~/estimatePrice}" th:object="${estimatePriceForm}" method="post">
							<!-- Brand -->
							<label>Brands</label>
							<div class="form-group" th:if="${carList != null and not #lists.isEmpty(carList)}">
								<select class="form-control" th:field="*{brand}">
									<option th:each="car : ${carList}" th:value="${car.brand}" th:text="${car.brand}" />
								</select>
							</div>
							<div class="form-group" th:if="${carList == null or #lists.isEmpty(carList)}">
								<label>"No Institutions were found, please create some first"</label>
							</div>

							<!-- Models -->
							<label>Models</label>
							<div class="form-group" th:if="${carList != null and not #lists.isEmpty(carList)}">
								<select class="form-control" th:field="*{model}">
									<option th:each="car : ${carList}" th:value="${car.model}" th:text="${car.model}" />
								</select>
							</div>
							<div class="form-group" th:if="${carList == null or #lists.isEmpty(carList)}">
								<label>"No Institutions were found, please create some first"</label>
							</div>

							<!-- Sub Models -->
							<label>Sub Models</label>
							<div class="form-group" th:if="${carList != null and not #lists.isEmpty(carList)}">
								<select class="form-control" th:field="*{subModel}">
									<option th:each="car : ${carList}" th:value="${car.model}" th:text="${car.model}" />
								</select>
							</div>
							<div class="form-group" th:if="${carList == null or #lists.isEmpty(carList)}">
								<label>"No Institutions were found, please create some first"</label>
							</div>

							<!-- Years -->
							<label>Year</label>
							<div class="form-group" th:if="${carList != null and not #lists.isEmpty(carList)}">
								<select class="form-control" th:field="*{year}">
									<option th:each="car : ${carList}" th:value="${car.year}" th:text="${car.year}" />
								</select>
							</div>
							<div class="form-group" th:if="${carList == null or #lists.isEmpty(carList)}">
								<label>"No Institutions were found, please create some first"</label>
							</div>

							<div class="form-group">
								<label>Flooding</label>
								<div class="radio">
									<label> <input type="radio" th:field="*{flooding}" name="flooding" id="flooding2" value="0" /> Never
									</label>
								</div>
								<div class="radio">
									<label> <input type="radio" th:field="*{flooding}" name="flooding" id="flooding1" value="1" /> Ever
									</label>
								</div>

							</div>

							<div class="form-group">
								<label>Crashing</label>
								<div class="radio">
									<label> <input type="radio" th:field="*{crashing}" name="crashing" id="crashing2" value="0" /> Never
									</label>
								</div>
								<div class="radio">
									<label> <input type="radio" th:field="*{crashing}" name="crashing" id="crashing1" value="1" /> Ever
									</label>
								</div>
							</div>

							<div class="form-group">
								<label>Using type</label>
								<div class="radio">
									<label> <input type="radio" th:field="*{usingType}" name="usingType" id="optionsRadios1" value="0" th:checked="checked" /> Personal
									</label>
								</div>
								<div class="radio">
									<label> <input type="radio" th:field="*{usingType}" name="usingType" id="optionsRadios2" value="1" /> Carring
									</label>
								</div>
							</div>

							<div class="form-group">
								<label>Kilometer usage</label>
								<div class="input-group">
									<input type="text" class="form-control" th:field="*{kilometer}" placeholder="100,000" /><span class="input-group-addon"><i class="fa fa-car"></i></span>
								</div>
								<span class="help-block" th:if="${#fields.hasErrors('kilometer')}" th:errors="*{kilometer}">kilometer error message</span>
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-primary pull-right">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="estimate-price" name="estimate-price" class="row"></div>
	</div>

</body>
</html>