<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
<title>Sell Car</title>
</head>
<body>
	<section layout:fragment="header">
		<h1>Reserved Car</h1>
		<!-- <ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Reserve</li>
		</ol> -->
	</section>
	<div layout:fragment="content">
		<script>
			$(document).ready(function() {
				var table = $('#table-reserve-list').DataTable();
				$(".data-mask").inputmask();

				// 				 $('#table-reserve-list tbody').on('click', '.btn-row-sell', function () {
				// 					  var closestRow = $(this).closest('tr');
				// 				        var data = table.row( closestRow ).data();
				// 				        alert( 'You clicked on '+data[0]+'\'s row' );
				// 				    } );

				// 				 $('#table-reserve-list tbody').on('click', '.btn-row-cancel', function () {
				// 					  var closestRow = $(this).closest('tr');
				// 				        var data = table.row( closestRow ).data();
				// 				        alert( 'You clicked on '+data[0]+'\'s row' );
				// 				    } );

				// Sell Car Modal
				$('#sellCarModal').on('show.bs.modal', function(e) {
					var reserveId = $(e.relatedTarget).data('id');
					$("#hf-sell-ReserveId").val(reserveId);
				});

				$('#sellCarModal').on('hide.bs.modal', function() {
					$("#hf-sell-ReserveId").val('');
				})
				
				$("#btn-sell-confirm").click(function() {
					window.location = "/sell/" + $("#hf-sell-ReserveId").val();
				});
				
				// Cancel Reserve Car Modal
				$('#cancelReserveModalLabel').on('show.bs.modal', function(e) {
					var reserveId = $(e.relatedTarget).data('id');
					$("#hf-cancel-ReserveId").val(reserveId);
				});

				$('#cancelReserveModalLabel').on('hide.bs.modal', function() {
					$("#hf-cancel-ReserveId").val('');
				});

				$("#btn-reserve-cancel").click(function() {
					alert("Cancel Confirm");
				});
			});
		</script>

		<div class="row">
			<div class="col-md-10">

				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Reservation Details</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">

						<form th:action="@{~/sell}" th:object="${carReserveSearch}" method="post">

							<div class="form-group">
								<label class="col-sm-3">Reservation No.</label>
								<div class="form-group">
									<input class="form-control" type="text" th:field="*{reserveId}" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3">Name</label>
								<div class="form-group">
									<input class="form-control" type="text" th:field="*{name}" />
								</div>
							</div>

							<div class="box-footer">
								<button type="submit" class="btn btn-primary center-block">Search</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Reservation Lists</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="table-responsive">
							<table id="table-reserve-list" class="table table-striped">
								<thead>
									<tr>
										<th>NO.</th>
										<th>NAME</th>
										<th>PHONE NO.</th>
										<th>ID CARD</th>
										<th>PAYMENT METHOD</th>
										<th>CAR PRICE</th>
										<th>RESERVATION AMOUNT</th>
										<th>OUTSTANDING BALANCE</th>
										<th>SELL</th>
										<th>CANCEL</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="reservedCar : ${reservedCarList}">
										<td th:text="${reservedCar.id}">Onions</td>
										<td th:text="${reservedCar.name}">2.41</td>
										<td th:text="${reservedCar.phoneNumber}">yes</td>
										<td th:text="${reservedCar.idCard}">yes</td>
										<td th:text="${reservedCar.payMethod}">yes</td>
										<td th:text="${reservedCar.carPrice}">yes</td>
										<td th:text="${reservedCar.reservAmount}">yes</td>
										<td th:text="${reservedCar.carPrice}-${reservedCar.reservAmount}">yes</td>
										<td><button class="btn btn-primary btn-row-sell" data-toggle="modal" data-target="#sellCarModal" th:attr="data-id=${reservedCar.id}">Sell</button></td>
										<td><button class="btn btn-danger btn-row-cancel" data-toggle="modal" data-target="#cancelReserveModal" th:attr="data-id=${reservedCar.id}">Cancel</button></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>

		<!-- Sell Car Modal -->
		<div class="modal fade" id="sellCarModal" tabindex="-1" role="dialog" aria-labelledby="sellCarModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="sellCarModalLabel">Sell Car</h4>
					</div>
					<div class="modal-body">
						ยืนยันการรับเงินจากลูกค้าเรียบร้อย <input type="hidden" id="hf-sell-ReserveId"  value="" />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="btn-sell-confirm">Confirm</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Cancel Reserve Car Modal -->
		<div class="modal fade modal-danger" id="cancelReserveModal" tabindex="-1" role="dialog" aria-labelledby="cancelReserveModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="cancelReserveModalLabel">Cancel Reservation</h4>
					</div>
					<div class="modal-body">คุณยืนยันที่ต้องการจะยกเลิกการจองใช่หรือไม่?<input type="hidden" id="hf-cancel-ReserveId" value="" /></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-outline" id="btn-reserve-cancel">Cancel Reservation</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>