<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
<title>Reserve</title>

<script>
	$(document).ready(function() {
		

	});
</script>

</head>
<body>
	<section layout:fragment="header">
		<h1>
			Reserve Completed !
		</h1>
	</section>
	<div layout:fragment="content">
	<div class="error-page"> 
          <h2><i class="fa fa-check text-green"></i> Done! You are successfully reserve a car.</h2>

          <p class="pullright">
            Thank you..
          </p>

           
        </div>
	</div>
</body>
</html>
